<!DOCTYPE html>
<!--<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="ru">-->
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sidorov</title>
</head>
<body>
<h3>Welcome to my study web project</h3>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Birthdate</td>
        <td>Password</td>
        <td>ROLE_ADMIN</td>
        <td>ROLE_USER</td>
        <td>IsEnabled</td>
    </tr>
    <tr data-th-each="user : ${userList}">
        <form action="#" th:action="@{/admin/updateUser/{id}(id=${user.getId()})}" th:method="PUT">
            <td data-th-text="${user.getId()}">...</td>
            <td><input type="text" name="name" th:value="${user.getUsername()}"/></td>
            <td><input type="text" name="surname" th:value="${user.getSurname}"/></td>
            <td><input type="date" name="birthdate" th:value="${user.getBirthdate()}"/></td>
            <td><input type="text" name="password" th:value="${user.getPassword()}"/></td>
            <td><input type="checkbox" name="ROLE_ADMIN" th:checked="${user.getAuthorities().contains(roleAdmin)}"></td>
            <td><input type="checkbox" name="ROLE_USER" th:checked="${user.getAuthorities().contains(roleUser)}"></td>
            <td><input type="checkbox" name="enabled" th:checked="${user.getEnabled()}"/></td>
            <td>
                <input type="hidden" name="_method" value="PUT" id="updateButton">
                <button type="submit">update</button>
            </td>
        </form>
        <td>
            <form action="#" th:action="@{/admin/deleteUser/{id}(id=${user.getId()})}" th:method="DELETE">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
    <!--    <tr>-->
    <!--        <th:block th:object=${newUser}" >-->

    <!--        </th:block>-->
    <!--        <form th:object="${newUser}" th:method="POST" action="#" th:action="@{/admin/addUser}">-->
    <!--            <td></td>-->
    <!--            <td><input type="text" name="name" id="name"/></td>-->
    <!--            <td><input type="text" name="surname" id="surname"/></td>-->
    <!--            <td><input type="date" name="birthdate" id="birthdate"/></td>-->
    <!--            <td><input type="text" name="password"/></td>-->
    <!--            <td><input type="text" name="authorities"/></td>-->
    <!--            <td><input type="text" name="enabled"/></td>-->
    <!--            <td><input type="submit" value="add user" id="button"></td>-->
    <!--        </form>-->
    <!--    </tr>-->
</table>
</body>
</html>